<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="..\static\style.css">
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/contact">Contact</a>
    </div>
    <h1>About Us</h1>
    <div class="content">
        <p>Welcome to Weather Whispers, your trusted source for cutting-edge climate predictions and insights. We are a passionate team of five individuals with a shared mission to empower farmers and users alike with the knowledge they need to thrive in a world of changing weather patterns. Our story began with a deep appreciation for the vital role that climate information plays in decision-making, particularly in agriculture.</p>

        <p>Committed to bridging the gap between science and practical applications, we've harnessed the power of ARIMA modeling and technology to bring you accurate, accessible, and actionable climate forecasts.</p>

        <p>At Weather Whispers, we believe that knowledge is the key to resilience and success. Our team is dedicated to providing you with precise climate predictions that go beyond data points - we offer insights that empower you to make informed choices for a more sustainable future.</p>

        <p>Whether you're a farmer planning your next crop cycle or an individual seeking to understand climate trends, Weather Whispers is here to guide you. Together, we can adapt to the challenges of a changing climate and build a brighter tomorrow. Join us on this journey, and let the whispers of weather lead you to smarter decisions and greater prosperity.</p>
    </div>
</body>
</html>
