<!DOCTYPE html>
<html>
<head>
    <title>Weather Whispers</title>
    <link rel="stylesheet" type="text/css" href="..\static\style.css">

</head>
<body>
    <h1>Temperature Prediction</h1>
    <form action="/pred" method="POST">
        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required><br><br>

        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>

