<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="..\static\style.css">

</head>
<body>
    <div class="navbar">
        <div>
            <h1>
                <span class="typewriter">WeatherWhispers</span>
            </h1>
        </div>
        <div>

            <a href="/About">About Us</a>

            <a href="/contact">Contact</a>
            <a href="/feedback">Feedback</a>
        </div>
    </div>
    <form action="{{ url_for('predict_temp') }}" method="get">
        <input type="submit" value="Prediction Tool" class="btn">
    </form>
    <form action="{{ url_for('chatbox') }}" method="get">
        <input type="submit" value="Chatbox" class="btn">
    </form>
</body>
</html>
